<div class="container">
  <%= link_to "Back", user_path(current_user), role: "button", class: "btn btn-primary btn-sm" %>
  <br>
  <br>

  <h2>Viewing all <%= @user.name %>'s Tickets</h2>
  <ul class="list-group">
    <% @tickets.each do |ticket| %>
      <li class="list-group-item"><%= link_to ticket.concert_name, user_ticket_path(ticket, user_id: @user) %></li>
    <% end %>
  </ul>
</div>

