<table>
  <tr>
    <th>Concert Name</th>
    <th>Price</th>
    <th>Concert Venue</th>
    <th>Concert Date </th>
  </tr>
  <tr>
    <td><%= @ticket.concert_name %></td>
    <td><%= @ticket.price %></td>
    <td><%= @ticket.concert_venue %></td>
    <td><%= @ticket.concert.formatted_date %></td>
  </tr>
</table>
