<h2>Upcoming Concerts</h2>
<ul>
  <% @concerts.each do |concert| %>
    <li>
      <%= link_to concert.name, concert_path(concert) %> on <%= concert.formatted_date %> at <%= concert.venue %>
    </li>
  <% end %>
</ul>

<%= link_to "View my tickets", user_tickets_path(current_user) %>
