<div class="container">
  <h2>Upcoming Concerts</h2>
  <br>
  <ul class="list-group-flush">
    <% @concerts.each do |concert| %>
      <li class="list-group-item">
        <%= link_to concert.name, concert_path(concert) %> on <%= concert.formatted_date %> at <%= concert.venue %>
      </li>
    <% end %>
  </ul>
  <br>
  <% if current_user %>
    <%= link_to "View my account", user_path(current_user), role: "button", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
