<h2>Upcoming Concerts</h2>
<ul>
  <% @concerts.each do |concert| %>
    <li>
      <%= link_to concert.name, concert_path(concert) %> on <%= concert.date.strftime("%B %e, %Y") %> at <%= concert.venue %>
    </li>
  <% end %>
</ul>
